// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
ion-title{
    color: #908F92 !important;
}
.imgContatos{
    border-radius: 50%;
  }

  .nomeContatos{
    color: #486018;
    font-size: 14px;
    font-weight: bold
  }
  .propsContatos{
    font-size:12px !important;
    // margin-bottom: 0px !important;
  }
  .cargoContatos{
    font-size: 2.7vw !important;
    margin-bottom: 0px !important;
    float: right !important;
    color: #879767 !important;
    font-weight: bold !important;
  }
  .itemContatos{
      background-color: white !important;
  }


