<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Contatos Recentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-virtual-scroll [items]="contatos">
        <div *virtualItem="let item">
          <app-item-contato [ItemListvalue]="item"></app-item-contato>
        </div>
      </ion-virtual-scroll>
</ion-content>
