.fake-skeleton {
    width: 60%;
}

        
.clock{
    display: flex;
    justify-content: center;
    iframe {
        /* width: 100vw; */
        width: 55vw;
        height: 31vh;
        border-style: solid;
        border-radius: 35vh;
    }

}