<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic FireTodos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="searchTerm" #SearchTerm="ngModel" (ngModelChange)="onSearchInput($event, SearchTerm)"></ion-searchbar>
<ion-content>

 
  <ion-virtual-scroll [items]="contatoList">
      <ion-item *virtualItem="let item" button>
        <ion-avatar item-start>
          <ion-img [src]="item.foto"></ion-img>
        </ion-avatar>
        <ion-label>
            {{item.nome}}
            <p>{{item.email}}</p>
          </ion-label>
      </ion-item>
    </ion-virtual-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/details" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" (click)="load()">
         <ion-fab-button>
          <ion-icon name="refresh">
          </ion-icon>
        </ion-fab-button>
  </ion-fab>

<!--   <div class="clock">
    <iframe width="320" height="100" src="https://relogioonline.com.br/embed/horario/#theme=1&ampm=0&showdate=1"
      frameborder="0" allowfullscreen></iframe>
  </div> -->

</ion-content>