 <ion-header no-shadow no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="Voltar"></ion-back-button>
       
      </ion-buttons>
     <ion-buttons slot="end">
        <ion-button>
            <ion-icon slot="icon-only" name="mail"></ion-icon>
        </ion-button>
        <ion-button>
              <ion-icon slot="icon-only" name="call"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content fullscreen>

  <div class="HeaderImageContainer">
    <!-- <div class="topIcons">
      <ion-icon name="mail" color="onsVerde" style="margin-right: 8px; "></ion-icon>
      <ion-icon name="call" color="onsVerde"></ion-icon>
    </div> -->
    <ion-img
      src="https://adayinthelifeimages.com/wp-content/uploads/2016/05/brisbane-headshots-commercial-photography-09-1024x576.jpg">
    </ion-img>
    <div class="nomePerfil">
      <ion-text color="light">
        Iago Favilla Gonçaslves Jacintho
      </ion-text>
      <ion-text color="light">
        12 23456789
      </ion-text>
    </div>
  </div>
  <app-card-carrousel></app-card-carrousel>
  <div style="text-align: center">
    <ion-text color="onsVerde">
      Contatos da mesma Empresa
    </ion-text>
  </div>
  <ion-virtual-scroll [items]="contatos">
    <div *virtualItem="let item">
      <app-item-contato [ItemListvalue]="item"></app-item-contato>
    </div>
  </ion-virtual-scroll>
</ion-content>