.toolbar-background {
    background-color: #F3F3F3;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --border-width: 0px !important;
}

ion-content{
    --padding-top: -16%;
}
ion-back-button{
    --color:#486018;
}
ion-button{
    --color:#486018 !important;
}
.searchbar-clear-button {
    display: none !important;
}

.HeaderImageContainer {
    position: relative;

    .topIcons {
        text-align: right;
        position: absolute;
        width: 100%;
        margin-left: -10px;
        margin-top: 2%;
        ion-icon {
          font-size: 1.6em;
        }
    }


    .nomePerfil {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}