<ion-header>
  <ion-toolbar text-center>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filtroHolder">
    <div class="filtroButton">
      <div class="iconBox" >
      <span class="tamanhoIcone" style="position: absolute;">
          8
        </span> 
        <ion-icon name="funnel" class="tamanhoIcone" style="color:transparent;"></ion-icon>
      </div>
      <span class="filtroText">Filtros Ativos</span>
    </div>
    <div class="filtroButton" (click)="showFilter(filtroItem)" *ngFor="let filtroItem of FiltrosArr" >
      <div class="iconBox" [class.selected]="filtroItem.selected">
          <span class="badge">1</span>
        <ion-icon name="cube" class="tamanhoIcone"></ion-icon>
      </div>
      <span class="filtroText">{{filtroItem.nome}}</span>
    </div>
  </div>

  <ion-searchbar [(ngModel)]="termoBusca" style="margin-top: -3px;">
  </ion-searchbar>

  <ion-button expand="block" shape="round" color="onsVerde">Limpar filtros</ion-button>
  <ion-list>
    <ion-item lines="none" *ngFor="let item of FiltrosList" >
      <ion-label>{{item}}</ion-label>
      <ion-checkbox slot="start" color="onsVerde"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>