.filtroHolder {
    display: flex;
    margin: 1em 0px;
    align-items: baseline;
    overflow-x: scroll;

    .filtroButton {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 2vw;
        max-width: 50px;
        min-height: 65px;

        .iconBox {
            height: 3em;
            border-width: 1px;
            border-color: transparent;
            display: flex;
            border-style: solid;
            width: 3em;
            justify-content: center;
            color: #A1A1A3;
            align-items: center;
            .badge{
                position: absolute;
                top: 11px;
                font-size: 0.9em;
                color: #fff;
                border-radius: 15px;
                text-align: center;
                width: 18px;
                background-color: #486018;
            }

            &.selected {
                color: #486018;
                border-color: #486018;
                border-radius: 50%;
            }

            .tamanhoIcone {
                font-size: 1.4em;
            }
        }
    }

    .filtroText {
        text-align: center;
        font-size: 10px;
        word-break: break-word;
    }
}

.searchBarHolder {
    margin: 0 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #b6b6b84d;
    border-radius: 10px;

    ion-icon {
        color: #a1a1a3;
        font-size: 1.2em;
    }

    input {
        width: 100%;
        background: transparent;
        border: none;
    }
}




::ng-deep ion-searchbar {
    .searchbar-input-container {
        .searchbar-input {
            background-color: #b6b6b84d;
            border-radius: 10px;
        }
    }
}