<ion-item-sliding #item>
    <ion-item class="itemContatos" (click)="selecionarItem(ItemListvalue)" >
        <ion-thumbnail slot="start">
          <ion-img class="imgContatos" src="{{ItemListvalue.foto}}"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <label class="nomeContatos">{{ItemListvalue.nome ? ItemListvalue.nome: null}}</label>
          <p class="propsContatos">{{ItemListvalue.email ? ItemListvalue.email[0].email : null }}</p>
          <p class="propsContatos">{{ItemListvalue.telefone ? ItemListvalue.telefone[0].numero : null}}</p>
          <p class="cargoContatos">{{ItemListvalue.cargo ? ItemListvalue.cargo : null}}</p>
        </ion-label>
        <ion-icon style="color: #879767;" name="arrow-dropright" slot="end" mode="ios"></ion-icon>
      </ion-item>
  <ion-item-options side="start">
    <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
  <ion-item-options side="end">
    <ion-item-option style="background-color: #6D8046 !important;">
      <ion-icon slot="icon-only" name="mail"></ion-icon>
    </ion-item-option>
    <ion-item-option style="background-color: #486018 !important;">
      <ion-icon slot="icon-only" name="call"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>