
    <ion-slides pager="false" >
      <ion-slide style="text-align: left">
        <ion-card style="width: 100%">
          <ion-card-header>
            <ion-card-title style="font-size: 14px;" color="onsVerde">BRQ</ion-card-title>
            <ion-card-subtitle color="onsVerde">Gerente</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="detailsHolder">
              <div class="userDetails">
                <ion-icon name="mail" color="onsVerde"></ion-icon>
                <ion-text color="onsCinza">user@ons.com</ion-text>
              </div>
              <div class="userDetails">
                <ion-icon name="phone-portrait" color="onsVerde"></ion-icon>
                <ion-text color="onsVerde" color="onsCinza">12 123456789</ion-text>
              </div>
              <div class="userDetails">
                <ion-icon name="call" color="onsVerde"></ion-icon>
                <ion-text color="onsVerde" color="onsCinza">47 78945612</ion-text>
              </div>
              <ion-icon name="arrow-dropdown-circle" color="onsVerde" mode="ios"></ion-icon>
            </div>
              </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>    
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>