.detailsHolder {
    display: flex;
    flex-direction: column;
    align-items: center;

    .userDetails {
        display: flex;
        width: 100%;
        font-size: 1.1em;
        align-items: center;

        ion-icon {
            margin-right: 1em;
            font-size: 1.5rem;
        }
    }

    ion-icon{
        font-size: 2em;
    }
}



ion-card {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #EFEFEF;
}