<ion-header>
  <ion-toolbar>
    <ion-title>
      Todos os Contatos
    </ion-title>
  </ion-toolbar>
  <div class="searchbarHolder">
    <ion-searchbar [(ngModel)]="termoBusca" debounce="500" (ionChange)="setFiltroContatos(termoBusca)"
      style="margin-top: -3px;">
    </ion-searchbar>
    <ion-icon name="funnel" [class.onFilter]="onFilter" (click)="goToFilter()" ></ion-icon>
  </div>
</ion-header>

<ion-content>
  <div class="filterButtonHolder">
    <ion-button color="onsVerde" expand="block" shape="round">ONS</ion-button>
    <ion-button color="onsVerde" expand="block" shape="round">Agentes</ion-button>
    <ion-button color="onsVerde" expand="block" shape="round">Geral</ion-button>
  </div>
  <ion-virtual-scroll [items]="contatos">
    <div *virtualItem="let item">
      <app-item-contato [routerLink]="['/perfil']" [ItemListvalue]="item" (SelectedItem)="test($event)"></app-item-contato>
    </div>
  </ion-virtual-scroll>
</ion-content>