.toolbar-background {
    background-color: #F3F3F3;
}

ion-toolbar {
    --background: #F3F3F3;
}

ion-input {
    --background: #E7E7E8;
}

.item-native {
    background-color: #e7e7e8;
}

.inputTodos>.item-native {
    background-color: #e7e7e8;
}

.filterButtonHolder {
    display: flex;
    justify-content: center;

    .ion-color-onsVerde {
        width: 100%;
    }

}



.searchbarHolder {
    position: relative;
    /* text-align: center; */
    color: white;

    ion-icon {
        position: absolute;
        top: 50%;
        left: 94%;
        font-size: 1.4em;
        transform: translate(-50%, -50%);
        transition: 500ms;
        color: black;

        @media screen and (min-width: 800px) {
            left: 97%;
        }

        &.onFilter {
            left: 86%;
            @media screen and (min-width: 800px) {
                left: 94%;
            }
        }
    }
}