<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="time"></ion-icon>
      <ion-label>Recentes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="people"></ion-icon>
      <ion-label>Todos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
