
.ion-color-onsVerde {
    --ion-color-base: #486018;
    --ion-color-base-rgb: 72,96,24;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #3f5415;
    --ion-color-tint: #5a702f;
  }

  .ion-color-onsCinza {
    --ion-color-base: #636266;
    --ion-color-base-rgb: 99,98,102;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #57565a;
    --ion-color-tint: #737275;
  }
